---
layout: page
title: People
---


<div class="row my-4">
{% for i in site.data.people.team %}

<div class="col-xl-4 col-md-6 mb-4 people-column">
  <div class="card border-0">
    <img class="card-img-top rounded-circle people-photos" src="{{ site.baseurl}}/assets/people/{{ i.photo }}" alt="{{ i.name }}">
    <div class="card-body text-center">
      <h5 class="card-title mb-0">{{ i.name }}</h5>
      <div class="card-text text-black-50">{{ i.title }}</div>
    </div>
  </div>


<div class="card-links text-center">
  {% if i.links.linkedin %}
    <a href="{{ i.links.linkedin }}"><i class="fa-brands fa-linkedin"></i></a>
  {% endif %}
  {% if i.links.github %}
    <a href="{{ i.links.github }}"><i class="fa-brands fa-github"></i></a>
  {% endif %}
  {% if i.links.google_scholar %}
    <a href="{{ i.links.google_scholar }}"><i class="fa-brands fa-google-scholar"></i></a>
  {% endif %}
  {% if i.links.orcid %}
    <a href="{{ i.links.orcid }}"><i class="fa-brands fa-orcid"></i></a>
  {% endif %}
</div>

</div>

{% endfor %}
</div>

<hr />

<h3 class="my-4 text-center">PhD students</h3>

<div class="row">
{% for i in site.data.people.phd %}

<div class="col-xl-4 col-md-6 mb-4">
  <div class="card border-0">
    <img class="card-img-top rounded-circle people-photos" src="{{ site.baseurl}}/assets/people/{{ i.photo }}" alt="{{ i.name }}">
    <div class="card-body text-center">
      <h5 class="card-title mb-0">{{ i.name }}</h5>
    </div>
  </div>

  <div class="card-links text-center">
{% if i.links.linkedin %}
<a href="{{ i.links.linkedin }}"><i class="fa-brands fa-linkedin"></i></a>
{% endif %}
{% if i.links.github %}
<a href="{{ i.links.github }}"><i class="fa-brands fa-github"></i></a>
{% endif %}
{% if i.links.google_scholar %}
<a href="{{ i.links.google_scholar }}"><i class="fa-brands fa-google-scholar"></i></a>
{% endif %}
{% if i.links.orcid %}
<a href="{{ i.links.orcid }}"><i class="fa-brands fa-orcid"></i></a>
{% endif %}
</div>

</div>

{% endfor %}
</div>

<hr />

<h3 class="my-4 text-center">MSc students</h3>

<div class="row">
{% for i in site.data.people.msc %}

<div class="col-xl-4 col-md-6 mb-4">
    <div class="card border-0">
      <img class="card-img-top rounded-circle people-photos" src="{{ site.baseurl}}/assets/people/{{ i.photo }}" alt="{{ i.name }}">
      <div class="card-body text-center">
        <h5 class="card-title mb-0">{{ i.name }}</h5>
      </div>
    </div>
  
    <div class="card-links text-center">

  {% if i.links.linkedin %}
  <a href="{{ i.links.linkedin }}"><i class="fa-brands fa-linkedin"></i></a>
  {% endif %}
  {% if i.links.github %}
  <a href="{{ i.links.github }}"><i class="fa-brands fa-github"></i></a>
  {% endif %}
  {% if i.links.google_scholar %}
  <a href="{{ i.links.google_scholar }}"><i class="fa-brands fa-google-scholar"></i></a>
  {% endif %}
  {% if i.links.orcid %}
  <a href="{{ i.links.orcid }}"><i class="fa-brands fa-orcid"></i></a>
  {% endif %}
</div>
</div>

{% endfor %}
</div>

<hr />
<h3 class="my-4 text-center">Alumni</h3>

<div class="row">
{% for i in site.data.people.alumni %}

<div class="col-xl-2 col-md-6 mb-4 alumni-column">
  <div class="card border-0">
    <img class="card-img-top rounded-circle alumni-photos" src="{{ site.baseurl}}/assets/people/{{ i.photo }}" alt="{{ i.name }}">
    <div class="card-body text-center">
      <h5 class="card-title mb-0">{{ i.name }}, {{ i.degree }}</h5>
      <div class="card-text text-black-50 small">{{ i.position }}</div>
    </div>
  </div>

  <div class="card-links text-center">
    {% if i.links.linkedin %}
      <a href="{{ i.links.linkedin }}"><i class="fa-brands fa-linkedin"></i></a>
    {% endif %}
    {% if i.links.github %}
      <a href="{{ i.links.github }}"><i class="fa-brands fa-github"></i></a>
    {% endif %}
    {% if i.links.google_scholar %}
      <a href="{{ i.links.google_scholar }}"><i class="fa-brands fa-google-scholar"></i></a>
    {% endif %}
    {% if i.links.orcid %}
      <a href="{{ i.links.orcid }}"><i class="fa-brands fa-orcid"></i></a>
    {% endif %}
  </div>
</div>  

{% endfor %}
</div>