<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
<meta name="description" content="" />
<meta name="author" content="" />
<title>TCML website v2</title>
<!-- Favicon-->
<link rel="icon" type="image/x-icon" href="{{ site.baseurl }}/assets/favicon.ico" />

<!-- Core theme CSS (includes Bootstrap)-->
<link href="{{ site.baseurl }}/css/styles.css" rel="stylesheet" />
<link href="{{ site.baseurl }}/css/main.css" rel="stylesheet" />
<link href="{{ site.baseurl }}/css/research_network.css" rel="stylesheet" />

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/academicons/1.9.4/css/academicons.min.css" />
