---
layout: default
---

{% include carousel.html %}

<div class="text-center mt-5">
    <h2>Welcome to the</h2>
      <h1>Technion Computational MRI Lab</h1>
      <p class="lead mt-5">
        We are improving patient care through better characterization of the underlying physiological and structural factors in human diseases by developing novel deep-learning-based methods for MRI acquisition and analysis.
      </p>
  </div>

  <hr />

{% include research.html %}

{% include funding.html %}

{{ content }}
